In [106]:
# Reference: 
# https://www.kaggle.com/tarunkr/covid-19-case-study-analysis-viz-comparisons#Downloding-and-Installing-Prerequisite

In [3]:
import pandas as pd
import modin.pandas as mpd
import numpy as np
# import matplotlib.pyplot as plt
# from matplotlib import ticker 
# import pycountry_convert as pc
# from datetime import datetime, timedelta,date
# from scipy.interpolate import make_interp_spline, BSpline
# import json, requests, calmap, folium, branca

FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.

In [4]:
import time
def timeit(method):
    def timed(*args, **kws):
        ts = time.time()
        result = method(*args, **kws)
        te = time.time()
        print(f'{(te - ts):.3f}')
        return result
    return timed

In [16]:
# import plotly.express as px
# from keras.layers import Input, Dense, Activation, LeakyReLU
# from keras import models
# from keras.optimizers import RMSprop, Adam

# import warnings
# warnings.filterwarnings('ignore')

# %matplotlib inline

Using TensorFlow backend.

In [20]:
@timeit
def time_pd_read_csv(*args, **kws):
    return pd.read_csv(*args, **kws)
@timeit
def time_mpd_read_csv(*args, **kws):
    return mpd.read_csv(*args, **kws)

@timeit
def time_pd_copy(*args, **kws):
    return args[0].copy()
@timeit
def time_mpd_copy(*args, **kws):
    return args[0].copy()

@timeit
def time_pd_concat(*args, **kws):
    return pd.concat(*args, **kws)
@timeit
def time_mpd_concat(*args, **kws):
    return mpd.concat(*args, **kws)

@timeit
def time_pd_append(*args, **kws):
    return df.append(*args, **kws)
@timeit
def time_mpd_append(*args, **kws):
    return mdf.append(*args, **kws)

@timeit
def time_pd_mean(*args, **kws):
    return args[0].mean()
@timeit
def time_mpd_mean(*args, **kws):
    return args[0].mean()

@timeit
def time_pd_head(*args, **kws):
    return args[0].head()
@timeit
def time_mpd_head(*args, **kws):
    return args[0].head()

@timeit
def time_pd_sum(*args, **kws):
    return args[0].sum()
@timeit
def time_mpd_sum(*args, **kws):
    return args[0].sum()

### TODO: apply() https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html
@timeit
def time_pd_apply(*args, **kws):
    return args[0].sum()
@timeit
def time_mpd_apply(*args, **kws):
    return args[0].sum()

#TODO ######## groupby(???).mean()? #########################
# @timeit
# def time_pd_groupby(df):
#     return df.sum()
# @timeit
# def time_mpd_groupby(df):
#     return mdf.sum()

In [6]:
file = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df_confirmed = time_pd_read_csv(file)
'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
df_deaths = time_pd_read_csv(file)

# # Depricated
# # df_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

df_covid19 = time_pd_read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")
df_table = time_pd_read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_time.csv",parse_dates=['Last_Update'])

0.034
0.024
0.013
0.089

In [28]:
df_covid19 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")
copies = time_pd_copy(df_covid19)
@timeit
def concat_many(df, rep):
    for i in range(rep):
        df = pd.concat([df, df])
    return df

tmp = concat_many(df_covid19, 12)
tmp = concat_many(df_covid19, 15)
tmp = concat_many(df_covid19, 12)

0.000
0.231

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Australia,2020-05-05 06:32:30,-25.000000,133.000000,6849,96,5888,865,26.901338,NaN,NaN,1.401664,36,AUS
1,Austria,2020-05-05 06:32:30,47.516200,14.550100,15621,600,13316,1705,173.443329,NaN,NaN,3.840983,40,AUT
2,Canada,2020-05-05 06:32:30,60.001000,-95.001000,61957,4003,26030,31924,163.666229,NaN,NaN,6.460933,124,CAN
3,China,2020-05-05 06:32:30,30.592800,114.305500,83966,4637,78792,537,5.977605,NaN,NaN,5.522473,156,CHN
4,Denmark,2020-05-05 06:32:30,56.000000,10.000000,9868,493,7284,2091,170.366957,NaN,NaN,4.995946,208,DNK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,2020-05-05 06:32:30,31.952200,35.233200,362,2,102,258,7.096069,NaN,NaN,0.552486,275,PSE
183,Western Sahara,2020-05-05 06:32:30,24.215500,-12.885800,6,0,5,1,1.004470,NaN,NaN,0.000000,732,ESH
184,Yemen,2020-05-05 06:32:30,15.552727,48.516388,12,2,1,9,0.040233,NaN,NaN,16.666667,887,YEM
185,Zambia,2020-05-05 06:32:30,-13.133897,27.849332,137,3,78,56,0.745215,NaN,NaN,2.189781,894,ZMB
186,Zimbabwe,2020-05-05 06:32:30,-19.015438,29.154857,34,4,5,25,0.228757,NaN,NaN,11.764706,716,ZWE

In [79]:
df_covid19 = df_covid19.drop(["People_Tested","People_Hospitalized","UID","ISO3","Mortality_Rate"],axis =1)
df_covid19.head(2)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate
0,Australia,2020-05-05 01:32:27,-25.0000,133.0000,6847,96,5886,865,26.893483
1,Austria,2020-05-05 01:32:27,47.5162,14.5501,15621,600,13316,1705,173.443329

In [99]:
# df_countries_cases = df_covid19.copy().drop(['Lat','Long_','continent','Last_Update'],axis =1)
    
# df_countries_cases = df_covid19.copy().drop(['Lat','Long_', 'Last_Update'],axis =1)
# df_countries_cases.index = df_countries_cases["country"]
# df_countries_cases = df_countries_cases.drop(['country'],axis=1)

# df_continents_cases = df_covid19.copy().drop(['Lat','Long_','country','Last_Update'],axis =1)
# df_continents_cases = df_continents_cases.groupby(["continent"]).sum()

# df_countries_cases.fillna(0,inplace=True)
# df_continents_cases.fillna(0,inplace=True)

In [71]:
df_covid19_cp = time_copy(df_covid19)

0.0004525184631347656

In [100]:
double_df_covid19 = time_concat(df_covid19, df_covid19)

0.004802703857421875

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Australia,2020-05-05 01:32:27,-25.000000,133.000000,6847,96,5886,865,26.893483,NaN,NaN,1.402074,36,AUS
1,Austria,2020-05-05 01:32:27,47.516200,14.550100,15621,600,13316,1705,173.443329,NaN,NaN,3.840983,40,AUT
2,Canada,2020-05-05 01:32:27,60.001000,-95.001000,61957,4003,26030,31924,163.666229,NaN,NaN,6.460933,124,CAN
3,China,2020-05-05 01:32:27,30.592800,114.305500,83965,4637,78709,619,5.977534,NaN,NaN,5.522539,156,CHN
4,Denmark,2020-05-05 01:32:27,56.000000,10.000000,9868,493,7284,2091,170.366957,NaN,NaN,4.995946,208,DNK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,2020-05-05 01:32:27,31.952200,35.233200,362,2,102,258,7.096069,NaN,NaN,0.552486,275,PSE
183,Western Sahara,2020-05-05 01:32:27,24.215500,-12.885800,6,0,5,1,1.004470,NaN,NaN,0.000000,732,ESH
184,Yemen,2020-05-05 01:32:27,15.552727,48.516388,12,2,1,9,0.040233,NaN,NaN,16.666667,887,YEM
185,Zambia,2020-05-05 01:32:27,-13.133897,27.849332,137,3,78,56,0.745215,NaN,NaN,2.189781,894,ZMB
186,Zimbabwe,2020-05-05 01:32:27,-19.015438,29.154857,34,4,5,25,0.228757,NaN,NaN,11.764706,716,ZWE